*{
    padding:0;
    margin:0;
}
@font-face{
    font-family: monstros;
    src:url("./font.ttf");
}
.imagemlogo{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 30%;
}
#fundo{
    background-image: url(./img/aaaa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.descricao{
    text-align: center;
    font-family: sans-serif;
    color:rgb(124, 124, 124);
    font-weight: lighter;
    width: 70%;
    padding-bottom: 15px;
}
.blocodescricao{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fundopersonagens{
    background-color: white;
    margin: 0px auto;
    border-radius: 15px;
    width: 80%;
    height: 60%;
}
.textotitulo{
    text-align: center;
    color:#2959A3;
    font-family: "monstros", sans-serif;
    font-size: 40px;
    font-weight: lighter;
    padding: 8px;
}
.fotospersonagens{
    display: flex;
    align-items:center;
    flex-direction: row;
}
.fotoperfil{
    border: solid 3px rgb(197, 196, 196);
    border-radius: 30px;
    width: 40%;
    height: 60%;
}
.fotoborda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}
.botao{
    color: aliceblue;
    background-color:blueviolet;
    font-family: sans-serif;
    font-size: larger;
    font-weight:bolder;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 8px 30px;
    border: solid 2px blueviolet;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
}

.botao:hover {
    transform:scale(1.2);
    background-color: aliceblue;
    border: solid 2px blueviolet;
    color: blueviolet;
}
footer{
     text-align: center;
}
